// Colors
$input-bg: #F4F5F7
$secondary: #42516E
$danger: #E20714
$info: #0ba8c1
$E8EAEF: #E8EAEF
$body-bg: #f1f8ff

// Font
$font-family-sans-serif: 'Open Sans', sans-serif
$font-size-base: .88rem !default
$h1-font-size: $font-size-base * 3.5
$h2-font-size: $font-size-base * 2.8333333333333335
$h3-font-size: $font-size-base * 2.3333333333333335
$h4-font-size: 22px
$h5-font-size: 16px
$h6-font-size: $font-size-base * 1.1666666666666667
$headings-font-weight: 500

// Buttons + Forms
$input-btn-padding-y: 0.50rem
$input-padding-x: 0.50rem
$input-padding-y: 0.50rem

$border-radius: .15rem
$btn-font-weight: 500

// Modal
$modal-content-border-color: #e8eaef
$modal-backdrop-bg: #42516E
$modal-backdrop-opacity: .7
$modal-header-border-color: #F4F5F7
$modal-inner-padding: 19px
$modal-header-padding: 19px

// Custom Table
$table-border-color: #e8eaef
$table-bg: #ffffff
$table-font-size: 12px
$table-striped-bg: #f9fafb

// Input
$input-border-color: $E8EAEF
$input-bg: #ffffff

// Icons
$icons-font-family: "icon" !default
$icons-font-path: "/assets/fonts/icon" !default

$icon-Edit: "\e001"
$icon-Lock: "\e002"
$icon-agency: "\e004"
$icon-announcement: "\e005"
$icon-arrow-down: "\e006"
$icon-arrow-left: "\e007"
$icon-arrow-right: "\e008"
$icon-arrow-up: "\e009"
$icon-big-house: "\e00a"
$icon-calendar: "\e00b"
$icon-chevron-down: "\e00e"
$icon-chevron-left: "\e00f"
$icon-chevron-right: "\e010"
$icon-chevron-up: "\e011"
$icon-clock: "\e012"
$icon-close-x: "\e013"
$icon-corner-down-right: "\e014"
$icon-crosshair: "\e016"
$icon-exclamation-circle: "\e01c"
$icon-exclamation-triangle: "\e01e"
$icon-file-text: "\e022"
$icon-full-screen: "\e023"
$icon-mail: "\e028"
$icon-menu-arrow-down: "\e029"
$icon-menu-arrow-up: "\e02a"
$icon-menu: "\e02b"
$icon-plus-circle: "\e02f"
$icon-plus: "\e031"
$icon-power-off: "\e032"
$icon-printer: "\e033"
$icon-profile: "\e034"
$icon-search: "\e035"
$icon-settings: "\e036"
$icon-shopping-cart: "\e039"
$icon-success: "\e03c"
$icon-telegram: "\e03d"
$icon-user: "\e040"

$dashboard-header-height: 90px
$dashboard-header-mobile-height: 70px
