<div class="row m-0 h-100">
  <div class="p-0 col-12 col-md left-side px-3 px-lg-4 bg-white"
    [ngClass]="{
      'open': state().navStatus !== DashboardNavStatus.CLOSE
    }"
  >
    <ng-container *ngTemplateOutlet="logo"></ng-container>
    <exam-dashboard-nav
      [navs]="navs"
      (clickNav)="onClickNav($event)" [navStatus]="state().navStatus"></exam-dashboard-nav>
  </div>
  <div class="p-0 col-12 col-md"
  >
    <exam-dashboard-header (clickMenuButton)="onClickMenuButton($event)"></exam-dashboard-header>
    <div class="content p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #logo>
  <div class="logo bg-white text-center d-flex align-items-center">
    <a routerLink="/" class="m-auto">
      <img src="/assets/angular.svg" alt="Angular 7 Exam" title="Angular 7 Exam">
    </a>
  </div>
</ng-template>
